akka
{
    // log-config-on-start = on
    stdout-loglevel = DEBUG
    loglevel = DEBUG

    actor
    {
        creation-timeout = 5s
        serialize-messages = off

        guardian-supervisor-strategy = Akka.Actor.StoppingSupervisorStrategy

        inbox
        {
            inbox-size = 100,
            default-timeout = 5s
        }

        debug
        {
            receive = off
            autoreceive = off
            lifecycle = off
            fsm = off
            event-stream = off
            unhandled = on
            router-misconfiguration = on
        }

        deployment {
		}
    }

    actor.provider = cluster
    remote {
        dot-netty.tcp {
            port = 8081
            hostname = localhost
        }
    }
    cluster {
       seed-nodes = ["akka.tcp://akka@localhost:8081"] # address of seed node
       roles = ["root"]

//        distributed-data
//        {
//            role = "user"
//        }
    }
}
